{
    "SLACK_BOT_TOKEN": "xoxb-something-here",
    "SLACK_CLIENT_SECRET": "something-here",
    "SLACK_CLIENT_ID": "something.here",
    "SLACK_APP_ID": "something",
    "SLACK_SIGNING_SECRET": "something-here",
    "SLACK_VERIFICATION_TOKEN": "something-here",
    "SLACK_APP_TOKEN": "xapp-something-here"
}